body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    font-family: sans-serif;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    color: #fff;
}

#ui button {
    margin-right: 10px;
    padding: 5px 10px;
}
