.accordion-header img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  flex-shrink: 0;
  filter: drop-shadow(0 0 1px black);
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Animação ao passar o mouse */
.accordion-header:hover img {
  transform: scale(1.3) rotate(-10deg);
  filter: drop-shadow(0 0 12px #ff8a00);
}
